<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || "ZUI Presentations" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= yield :header %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if flash[:alert] %>
  <div id="alert" class="flash"><%= flash[:alert] %></div>
<% end %>
<%= yield %>

</body>
</html>
