<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>ZUI Presentation: <%= yield(:title) %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag '../theme/default/style.css' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'OpenLayers.js' %>
  <%= csrf_meta_tag %>
  <%= javascript_tag "OpenLayers.ImgPath = '#{root_path}images/'" %>
</head>
<body onload="init_map();">

<%= yield %>

</body>
</html>
